.Content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Title {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 40px;
}

.Span {
  margin-right: 20px;
  font-weight: 700;
}